@charset "UTF-8";
/*---------------共用結構設定---------------*/
/*------------頁首設定------------*/
#header, #footer {
  width: 100%;
  padding: 0 10px;
}
#header{
  height: 120px;
}

#logo a {
  width: 250px;
  height: 120px;
}
/*--------選單設定--------*/
#nav {/*上層固定*/
  width: 50%;
  margin-top: 30px;
}
#top-nav {/*外層結構*/
  margin: 5px 20px 5px 0;
  font-size: var(--normal, 16px);
  display: grid;
  justify-content: flex-end;
  width:70%;
  float: none;
}

@media (max-width:495px) {
	#nav {
		width: 120px;
	}
	#top-nav a {
		display: block;
    width: 70px;
		margin-left: 10px;
		float: left;
	}
	#top-nav .topnav-text{
		display: none;
	}
}
@media (max-width:385px) {
	#nav {
		width: 80px;
	}

	#top-nav a {
		display: none;
	}
	#top-nav .topnav-text{
		display: none;
	}
}

#main-nav{/*主選單*/
  font-size: var(--des, 18px);
  position: fixed;
  top:40px;
  right: 10px;
  z-index: 9999;
  float:none;
}
#main-nav:hover .tip{
	visibility: visible;
}
#main-nav a {
  display: block;
  float: none;
  color: var( --pink, #f18ab8ff);
  width: 100%;
  margin-left: 0;
  overflow: hidden;
  background-color: var(--empty, #ffffff00);
}
#main-nav a:hover, #main-nav a:active {
  /* 滑鼠滑入按鈕變色*/
  color:var( --grey, #545454ff);
  border-bottom: none;
  text-transform: uppercase;
}

#main-nav li {
  float: none;
  position: relative;
}
#main-nav li li a{ /*針對第二層選單*/
  display: block;
  margin-right: 40px;
  float: left;
  font-size: var(--des, 16px);
}

#main-nav ul ul {
  position: absolute;
  z-index: 99;
  transform: translate(300%, -75%);
  visibility: hidden;
}
#main-nav ul ul a{
  width: 100px;
}
#main-nav li:hover > ul {
  /* 滑鼠滑入展開次選單*/
  visibility: visible;
}

.menu > div > div > ul > li > a{
  transition: color .4s ease;
}

/*----漢堡選單設定----*/
.toggler{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.hamburger{
  position: absolute;
  top:0;
  right: 0;
  z-index: 1;
  width: 25px;
  height: 25px;
  padding: 12px;
  background: var( --pink, #f18ab8ff);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*hamburger line*/

.hamburger > div{
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .4s ease
}

.hamburger > div::before,
.hamburger > div::after{
  content: '';
  position: absolute;
  z-index: 2;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}
/* move line down*/

.hamburger > div::after{
  top: 10px;
}

/*toggler animate*/
.toggler:checked + .hamburger > div{
  transform: rotate(135deg);
}

/*turn line into X*/
.toggler:checked + .hamburger > div::before,
.toggler:checked + .hamburger > div::after{
  top: 0;
  transform: rotate(90deg);
}
/*rotate on hover when checked*/
.toggler:checked:hover + .hamburger > div{
  transform: rotate(225deg);
}

/*show menu*/
.toggler:checked ~ .menu{
  visibility: visible;
}

.toggler:checked ~ .menu > div{
  transform: scale(1);
  transition-duration: 0.75s;
}

.toggler:checked ~ .menu > div > div{
  opacity: 1;
  transition: opacity .4s ease;
}
.menu{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: hidden;;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu > div{
  background: rgba(255,255,255,0.9);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex:none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all .4s ease;
}

.menu > div > div {
  text-align: center;
  width: 100vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity .4s ease;
}
#main-nav .menu ul, #main-nav .menu ul li{
  display: block;
}

#main-nav .menu > div > div > ul > li{
  padding: 10px;
}


/*----SNS選單設定----*/
#nav-sns{
	display: block;
  margin-top: 30px;
}
#nav-sns a{
  display:inline-block;
  width: 45px;
  height: 45px;
  margin: 5px;
}
#nav-sns a:hover{
  background-color: var(--empty, #ffffff00);
} 

/*-----------頁尾設定-----------*/
#footer {
  width:90%; 
  clear: both;
  margin: 30px auto;
  border-bottom:solid 15px var(--pink, #f18ab8ff);
}
#small-logo, #sns {
	display: none;
}
#small-logo, #copyright{
  padding-top: 0;
}
#copyright small, #copyright a {
  margin-left: 0;
  padding-top: 10px;
  display: block;
}
#copyright {
  width:100%;
  font-size: var(--des, 16px);
  text-align: center;
}


/*---------------各頁版面設定---------------*/
/*------------首頁版面設定------------*/
/*------圖片展示設定------*/
#picshow{
	flex-wrap: wrap;
}
#picshow a {
	width:50%;
}
#picshow a img{
	width:100%;
}

/*------內嵌影片設定------*/
#movie {
  height: 350px;
  margin-bottom: 20px;
}
#movie iframe {
  height: 350px;
}

/*---------------各頁版面設定---------------*/
/*------------首頁版面設定------------*/
/*----------橫幅設定----------*/
#banner {
  margin: 30px 0;
}
#banner img{
  height: auto;
  width: 100vw;
}
#main-content {
  width: calc(100% - 20px);
  padding: 10px;
}
.slogan, .post {
  width: 80%;
  margin: 50px auto;
  float: none;
}
.slogan {
  height: auto;
}
.slogan h2, .post_title {
  font-size: var(--h4, 22px);
  text-align: center;
}
.slogan p, .post_text {
  font-size: var(--des, 18px);
}
.post{
	padding-bottom: 15px;
	border-bottom: solid 1px var(--pink, #f18ab8ff);
}
.post_img {
  width: 100%;
}

.post_text {
  width: 100%;
  height: auto;
  padding: 20px 0 0;
	line-height:calc(var(--size_basic, 0.1)*12);
}
.post .more {
  text-align: right;
  padding-right: 15px;
}

/*------------內頁版面設定------------*/
/*----------橫幅設定----------*/
.hero-image {
  margin-bottom: 0;
}
.hero-text h1{
	font-size: calc(var(--size_normal, 10px)*3);
	line-height: calc(var(--size_basic, 0.1)*12);
}
.hero-text p{
	margin-bottom: calc(var(--size_normal, 10px)*2);
  font-size: var(--small, 14px);
  line-height: calc(var(--size_basic, 0.1)* 12);
}
/*------------About設定------------*/
/*----------關於文字----------*/
#maintxt {
	padding: 20px 10%;
}
#maintxt h2,  #maintxt p{
    font-size: 105%;
}

/*----------圖片設定----------*/
#mainpic{
	width:90%;
  grid-template-columns: 25% 50% 25%;
	grid-template-rows: 50% 50%;
	background-color: var(--piggy, #fae4eeff);
}

/*------下方表單與地圖設定------*/
#maincontact{
	width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
#maincontact h2{
  text-align: center;
}
#contact_form, #map{
	width:90%;
  float: none;
  margin-bottom: 30px;
}
#maincontact input, #maincontact textarea {
	border-radius: 15px;
	font-size: var(--des, 18px);
	width: 90%;
}
#maincontact textarea {
	height:250px;
}
/*---stores---*/
.officebox {
	width: 45%;
	height: 300px;
}
.officebox img {
	width: auto;
	height: 300px;
}
@media (max-width:800px) {
  .officebox {
    width: 90%;
    height: 500px;
    float: none;
    margin: 30px auto;
  }
  .officebox img {
    width: auto;
    height: 500px;
  }
}
@media (max-width:600px) {
  .officebox {
    height: 450px;
  }
  .officebox img {
    transform: translate(-20%, 0px);
  }
}
@media (max-width:500px) {
  .officebox {
    height: 400px;
  }
  .officebox img {
    height: 400px;
  }
}

/*---products---*/
.demobox {
	width: calc(50% - 20px);
	height: auto;
  padding: 10px;
  margin: 10px;
}

@media (max-width:600px) {
  .demobox {
    width: 95%;
    margin: 20px auto;
    float: none;
  }
}
.demobox h5 {
  color: var(--pink, #f18ab8ff);
  font-weight: bold;
  font-size: var(--des, 18px);
  text-transform: uppercase;
  line-height: calc(var(--size_basic, 0.1)*13);
  margin: 20px 0;
  height: 30px;
}
.demobox div {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  box-shadow: 0 0 15px var(--pink, #f18ab8ff);
  overflow: hidden;
  margin: 0 auto;
  background-size: cover;
}
.demobox p {
  margin: 20px 0;
}

/*---product_single---*/
#productintro_pic {
  width: 70%;
}
#productintro_text{
  width: 30%;
}
#productintro_text h3 {
  line-height: calc(var(--size_basic, 0.1)* 12);
}
#main-content .row .column {
  width: 25% !important;
}
@media (max-width:425px) {
  #main-content .row .column {
    width: 50% !important;
  }
  .row .column .content p, .column-text p{
    font-size: 90%;
  }
  
}
@media (max-width:768px) {
  #productintro_pic, #productintro_text {
    width: 100%;
    float: none;
    border-right:none;
    border-bottom:2px  solid var(--mimi, #f9cddeff);
    padding-bottom: 20px;
}
}
/*---news---*/
.newspost {
  position: relative;
  margin: 0 auto;
}
.news_pic {
  width: calc(100% - 20px);
  height: auto;
  float: none;
  margin: 0 auto;
}
.news_pic img {
	height: auto;
	width: 100%;
}
.news_txt {
  width: 100%;
  height:50%;
  padding: 10px 40px;
  float: none;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(255,255,255,0.8);
}

@media (max-width:767px) {
  .news_txt {
    height: 35%;
    padding: 10px 20px;
  }
  .news_txt .category {
    border-radius: 20px;
  }
  .news_txt h4{
    padding: 0 20px;
    font-size: var(--sub, 20px);
    margin: 10px 0;
    line-height: calc(var(--size_basic, 0.1)*10);
  }
  .news_txt p{
    display: none;
  }
}
@media (max-width:550px) {
  .news_txt {
    width: 100%;
    height:33%;
    bottom: 6px;
  }
  .news_txt h4, .news_txt p{
    display: none;
  }
  #nav_bar a {
    display: inline-block;
    width: 20px;
    margin: 0 10px;
  }  
}

/*---news_lady---*/
#main-content .row {
  margin: 5px -10px;
  padding: 5px;
}
#main-content .row .column {
  width: 50%;
}
#main-content .row .column .content .ellipsis{
	overflow: hidden;
  display: block;
  text-overflow:inherit;
}

.column-text{
	column-count: 1;
	line-height: calc(var(--size_basic, 0.1)*20);
}
.row .column .content p, .column-text p{
  font-size: 110%;
}

@media (max-width:767px) {
  #main-content .row .column {
    width: 100%;
  }
}

/*---news_girl---*/
.leftcolumn {   
  float: none;
  width: 100%;
}

.rightcolumn {
  float: none;
  width: 100%;
}

.card {
   background-color:var(--white, #ffffffff);
   padding: 15px;
   margin: 15px;
}
@media (max-width:640px) {
  .card h2{
    line-height: calc(var(--size_basic, 0.1)*12);
    margin-bottom: 10px;
  }
  .card h5 {
    line-height: calc(var(--size_basic, 0.1)* 12);
}
  .card p{
    line-height:  calc(var(--size_basic, 0.1)*15);
    font-size: var(--des, 18px);
  }
  .leftcolumn .card p img{
    float: none;
    width: 100%;
	  height:auto;
  }
}

/*---news_child---*/
#outbox {
  column-count: 2;
  width: calc(100% - 60px);
  padding: 30px;
}
@media (max-width:600px) {
  #outbox {
    column-count: 1;
    width: calc(100% - 40px);
    padding: 20px;
  }
}

.content_box {
  width: calc(100% - 20px);
  margin: 10px;
}

/*---contact---*/
.features_box{
  height: 320px;
	padding: 10px;
  display: flex;
}
.features_box > .pic_circle{
  border-radius: 0;
  clip-path: polygon(75% 0, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);/*https://bennettfeely.com/clippy/*/
  width:33%;
	height: 100%;
  position: static;
  transform: translate(0%, 0%);
	border: 5px solid var(--white,  #ffffffff);
	box-shadow: none;
  z-index: 1;
  bottom: 0;
  left: 0;
  float: none;
}
@media (max-width:767px) {
  .features_box{
    display: block;
    height: 900px;
    margin-top: -20px;
  }
  .features_box > .pic_circle{
    width:100%;
	  height: 33%;
    border-radius: 20px;
    clip-path: inset(0 0 0 0);
    margin-bottom: 20px;
    box-sizing: border-box;
  }

.small_layout {
  width: 100%;
}

  .step h4 {
    font-size: var(--h3, 24px);
    margin-bottom: 20px;
  }
  .step p {
    font-size: var(--normal, 16px);
    line-height: calc(var(--size_basic, 0.1)*11);
  }
}
@media (max-width:424px) {
  .back_line {
    background-image: repeating-linear-gradient( var(--piggy, #fae4eeff) 22%, var(--pink, #f18ab8ff) 27%,var(--piggy, #fae4eeff) 32%, var(--piggy, #fae4eeff) );
}
  .step h4 {
    font-size: var(--sub, 20px);
    margin-bottom: 15px;
  }
  .step p {
    font-size: var(--small, 14px);
    line-height: calc(var(--size_basic, 0.1)*12);
  }
}
@media (max-width:374px) {
  .back_line {
    background-image: repeating-linear-gradient( var(--piggy, #fae4eeff) 22%, var(--pink, #f18ab8ff) 28%,var(--piggy, #fae4eeff) 33%, var(--piggy, #fae4eeff) );
}
  .step h4 {
    font-size: var(--des, 18px);
  }
  .step p {
    font-size: var(--mini, 12px);
  }
}

